@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

.chumma {
    height: 100vh;
    width: 100vw;
    background-color: black;
}

html {
    color: black;
}

body {
    height: 100vh;
    background: #000;
    font-family: 'poppins';
}

.links li {
    list-style: none;
}

.links li a {
    text-decoration: none;
    color: #fff;
    font-size: 1rem;
}

.dropdown_menu li {
    list-style: none;
    padding: 1rem;
    display: grid;
    align-items: center;
    justify-content: center;
}

.dropdown_menu li a {
    text-decoration: none;
    color: #8677d1;
    font-size: 1rem;
}

.dropdown_menu {
    display: none;
    position: absolute;
    top: 60px;
    right: 1rem;
    height: 0;
    width: 300px;
    background: white;
    box-shadow: 2px 4px 6px grey;
    /* backdrop-filter: blur(15px); */
    border-radius: 10px;
    overflow: hidden;
    /* gap: 15px; */
    padding: 20px 0;
}

.dropdown_menu.open {
    height: 200px;
    display: block;
}

@media only screen and (max-width: 600px) {
    .toggle_btn {
        display: block;
    }

    .dropdown_menu.open {
        display: block;
    }
}

header {
    position: relative;
    padding: 0 2rem;
    background: #8677d1;
}

.navBar {
    width: 100%;
    height: 60px;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo a {
    font-size: 1.5rem;
    font-weight: bold;
    text-decoration: none;
    color: #fff;
}

.links {
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
}

.toggle_btn {
    color: #fff;
    font-size: 1.5rem;
    cursor: pointer;
    display: none;
}



/* Landing page Css  */

#main {
    background: #8677d1;

}

.land {

    background: #8677d1;
    height: 100vh;
}

.land-lf {
    color: white;
}

.land-lf h2 {
    font-size: 3rem;
}

.land-lf p {
    font-size: 1.3rem;
}

.land-lf button {
    padding: 15px 50px;
    background: #fff;
    border-radius: 50px;
    color: #7B6CC9;
    font-size: 1.2rem;
    font-weight: bold;
    margin: 40px 0;
    border: none;
}

.growing {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: #A398E0;
    border-radius: 20px;
    height: 178px;
}

.grow_head {
    display: flex;
    align-items: center;
    justify-content: start;
    padding-left: 10px;
    width: 100%;
}

.sec {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60%;
    gap: 20px;
}

.sec div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.rt {
    display: flex;
    align-items: center;
    justify-content: center;
}

.rt_main_img {
    display: flex;
    align-items: center;
    justify-content: center;
}


/* Who We Are Page Css  */
.wwa {
    display: grid;
    place-items: center;
    gap: 30px;
    margin: 0 100px;
    padding: 50px 100px;
}

#wwa {
    height: 100vh;
    background: #F5F2FD;
}

.wwa_img_row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 60%;
    gap: 50px;
}

/* Learning page  */
#learn {
    background: #DFDCEF;
}

.lrn {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    gap: 40px;
    padding: 100px;
    background: #DFDCEF;
}

.lrn h1,
.lrn p {
    text-align: center;
}

.lrn h1 {
    /* font-size: 3rem; */
}

.lrn p {
    font-size: 1.2rem;
}

/* Foote CSS  */
footer {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    padding: 40px 0;
    background: #8677d1;
    font-weight: bold;
    color: #fff;
    font-size: 1.5rem;
    width: 100vw;
}

@media (max-width:992px) {
    .links {
        display: none;
    }

    .toggle_btn {
        display: block;
    }

    .dropdown_menu {
        display: none;
    }

    /* Landing page css  */


    .rt_main_img {
        margin: 40px 0;
    }

    .land-lf h2 {
        font-size: 2.2rem;
    }

    .land-lf p {
        font-size: 1rem;
    }

    .land-lf button {
        margin: 20px 0;
        padding: 10px 40px;
    }

    .sec div h3 {
        font-size: 1.3rem;
    }

    .sec div h5 {
        font-size: 1rem;
    }


}

@media (max-width:790px) {

    /* Who we are page css  */
    .wwa_img_row {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
    }

    .wwa {
        padding: 10px 0 90px;
    }

    .wwa_img_row img {
        width: 100px;
    }

    .rt_main_img img {
        width: 300px;
    }

    .lrn {
        padding-top: 40px;
    }

    footer {
        font-size: .8rem;
        padding: 20px 0;
    }
}

@media (max-width:576px) {
    html {
        font-size: 14px;
    }

    .dropdown_menu {
        left: 2rem;
        width: unset;
    }

    .rt_main_img img {
        width: 300px;
    }

    /* Who we are  */
    .wwa_img_row {
        gap: 10px;
    }

}